.hero {
  min-height: 100svh;
  display: grid;
  place-content: center;
  background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.6)),
    url("/assets/images/home.JPG");
  background-size: cover;
  background-position: center;
}
