.hero {
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.6)),
    url("/assets/images/home.JPG");
  background-size: cover;
  background-position: center;
  padding: 20px;
  font-size: 1.2rem;
}