.slider-container {
  position: relative;
  width: min(900px, 90vw);
  margin: 3rem auto;
  overflow: hidden;
}

/* ratio 2:1 */
.slider {
  display: flex;
  aspect-ratio: 2 / 1;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* crop automatique */
  object-position: center;
  display: block;
}

/* flèches */

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 30px; /* espace entre les blocs */
    margin-top: 20px;
}

.info-card {
    background: #ffffff00;
    padding: 25px;
    border-radius: 16px; /* arrondi élégant */
    box-shadow: 0 8px 20px rgba(0,0,0,0.08); /* effet flottant */
    text-align: left;
    min-height: 180px; /* donne un effet “carré” */
}

.info-card h3 {
    margin-bottom: 10px;
}

.info-card p {
    margin: 5px 0;
}