.image-row {
  display: flex;
  position: relative;
  gap: 1rem;

  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.image-row img {
  flex: 1;
  height: 220px;
  width: 100%;
  object-fit: cover;
}