.menu summary {
  cursor: pointer;
  list-style: none;
}

.menu nav {
  position: absolute;
  top: calc(var(--header-height) + 0.5rem);
  left: 2rem;

  background: rgba(0,0,0,0.9);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
