<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>

<header class="topbar">
  <div class="topbar-left">
    <details class="menu">
      <summary>
        <span class="burger">
          <span></span>
          <span></span>
          <span></span>
        </span>
        Menu
      </summary>
      <nav>
        <a href="{{ base.url }}/{{ page.lang }}/about/">About</a>
      </nav>
    </details>
  </div>

<div class="topbar-center">
  <a href="/" class="brand-logo">
    <img src="{{ '/assets/images/logo_white.png' | relative_url }}"
         alt="Yes Oui Do">
  </a>
</div>

  <div class="topbar-right">
    <a href="/contact/" class="contact">Contact</a>
    <button class="lang" id="langSwitcher">EN</button>
  </div>
</header>

<main>
  {{ content }}
</main>
<script src="{{ '/assets/js/lang.js' | relative_url }}"></script>
</body>
</html>
