<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>

<header class="topbar">
  <div class="topbar-left">
    <details class="menu">
      <summary>
        <span class="burger">
          <span></span>
          <span></span>
          <span></span>
        </span>
        Menu
      </summary>
      <nav>
        <a href="{{ base.url }}/{{ page.lang }}/incoming">About</a>
      </nav>
    </details>
  </div>

<div class="topbar-center">
  <a href="/" class="brand-logo">
    <img src="{{ '/assets/images/logo_white.png' | relative_url }}"
         alt="Yes Oui Do">
  </a>
</div>

  <div class="topbar-right">
    <a href="{{ base.url }}/{{ page.lang }}/incoming" class="contact">Contact</a>
    <button class="lang" id="langSwitcher">EN</button>
  </div>
</header>

<main>
  {{ content }}
</main>

<footer class="site-footer">
  <div class="footer-content">

    <p class="footer-title">
      Our soundtrack 🎶
    </p>

    <div class="footer-player">
      <iframe data-testid="embed-iframe" 
              style="border-radius:12px" 
              src="https://open.spotify.com/embed/playlist/7rwU8m3UH1Ld3mubCjngbG?utm_source=generator" 
              width="100%" height="152" frameBorder="0" 
              allowfullscreen="" 
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
              loading="lazy"></iframe>
    </div>

    <p class="footer-credit">
      © 2026 — Made with love
    </p>

  </div>
</footer>

<script src="{{ '/assets/js/secure.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lang.js' | relative_url }}"></script>
</body>
</html>
